
<div class="welcome">
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <% 4.times do |i|%>
        <li class="glide__slide">
          <%= image_tag "/images/banner_#{i}.png" %>
        </li>
        <% end%>
      </ul>
    </div>
  </div>

  <div class="welcome_contents main_container container">

    <section class="contents">
      <div class="contents_inner">
        <h2 class="title section-title"><span>新着情報</span></h2>
        <div class="columns is-multiline">

        <% Room.all.each do |room| %>

          <div class="column is-3">
            <%= link_to room_path(room) do %>
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <%= image_tag room.package.url if room.package? %>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-5"><%= room.name %></p>
                    <p class=""><%= room.headline %></p>
                  </div>
                </div>

                <div class="content">
                  <% if room.is_free? %>
                    <span class="price">無料</span>
                  <% else %>
                    <span class="price">価格: <%= room.price %>円</span>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          </div>

        <% end %>

        </div><%# columns %>
      </div>
    </section>

  </div>

  <section class="rooms">

  </section>
</div>

<script>
let peek_width
if (getDevice != "mobile") {
  peek_width = 200
  perViewValue = 3
} else {
  peek_width = 0
  perViewValue = 1
}
new Glide('.glide', {
  type: 'carousel',
  autoplay: 5000,
  hoverpause: true,
  swipeThreshold: 80,
  startAt: 0,
  perView: perViewValue,
}).mount()
</script>